.textbox {
    padding: 1rem 0.8rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 5px 3px rgba(180, 180, 180, 0.2);
}

.text {
    width: 100%;
    max-height: 5rem;
    margin-bottom: 1.5rem;

    & p {
        -webkit-line-clamp: 4;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

.buttonPlace {
    display: flex;
    justify-content: flex-end;
}